@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,400,700);





body {
  font-family: Poppins;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4.5rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}
.display-5 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.1rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.6rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: .3s,.3s,.3s,2s;
  transition-timing-function: ease-in-out;
  padding: 1rem 2rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.btn-sm {
  border: 1px solid;
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 2rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #a38dfd !important;
}
.bg-success {
  background-color: #b2ccd2 !important;
}
.bg-info {
  background-color: #1ba1e2 !important;
}
.bg-warning {
  background-color: #82786e !important;
}
.bg-danger {
  background-color: #879a9f !important;
}
.btn-primary {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-primary:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #6642fc;
  border-color: #6642fc;
  border-radius: 100px;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #a38dfd !important;
  border-color: #a38dfd !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #6642fc !important;
  border-color: #6642fc !important;
}
.btn-primary:hover:before,
.btn-primary:focus:before,
.btn-primary.focus:before {
  transform: scale(10);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #6642fc !important;
  border-color: #6642fc !important;
}
.btn-secondary {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-secondary:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #fe0613;
  border-color: #fe0613;
  border-radius: 100px;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #fe525b !important;
  border-color: #fe525b !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #fe0613 !important;
  border-color: #fe0613 !important;
}
.btn-secondary:hover:before,
.btn-secondary:focus:before,
.btn-secondary.focus:before {
  transform: scale(10);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #fe0613 !important;
  border-color: #fe0613 !important;
}
.btn-info {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-info:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #13709e;
  border-color: #13709e;
  border-radius: 100px;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #1ba1e2 !important;
  border-color: #1ba1e2 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #13709e !important;
  border-color: #13709e !important;
}
.btn-info:hover:before,
.btn-info:focus:before,
.btn-info.focus:before {
  transform: scale(10);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #13709e !important;
  border-color: #13709e !important;
}
.btn-success {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-success:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #82acb6;
  border-color: #82acb6;
  border-radius: 100px;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #b2ccd2 !important;
  border-color: #b2ccd2 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #82acb6 !important;
  border-color: #82acb6 !important;
}
.btn-success:hover:before,
.btn-success:focus:before,
.btn-success.focus:before {
  transform: scale(10);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #82acb6 !important;
  border-color: #82acb6 !important;
}
.btn-warning {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-warning:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #59524b;
  border-color: #59524b;
  border-radius: 100px;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-warning:hover:before,
.btn-warning:focus:before,
.btn-warning.focus:before {
  transform: scale(10);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-danger {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-danger:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #617479;
  border-color: #617479;
  border-radius: 100px;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger:hover:before,
.btn-danger:focus:before,
.btn-danger.focus:before {
  transform: scale(10);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-black {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-black:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
  border-radius: 100px;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black:hover:before,
.btn-black:focus:before,
.btn-black.focus:before {
  transform: scale(10);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-white {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-white:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  border-radius: 100px;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white:hover:before,
.btn-white:focus:before,
.btn-white.focus:before {
  transform: scale(10);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  color: #333333 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #333333 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #333333 !important;
}
.btn-primary-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-primary-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #a38dfd;
  border-color: #a38dfd;
  border-radius: 100px;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #5229fb;
  color: #5229fb !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff !important;
  background-color: #a38dfd;
  border-color: #a38dfd;
}
.btn-primary-outline:hover:before,
.btn-primary-outline:focus:before,
.btn-primary-outline.focus:before {
  transform: scale(10);
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #a38dfd !important;
  border-color: #a38dfd !important;
}
.btn-secondary-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-secondary-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #fe525b;
  border-color: #fe525b;
  border-radius: 100px;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #e9010d;
  color: #e9010d !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #fe525b;
  border-color: #fe525b;
}
.btn-secondary-outline:hover:before,
.btn-secondary-outline:focus:before,
.btn-secondary-outline.focus:before {
  transform: scale(10);
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #fe525b !important;
  border-color: #fe525b !important;
}
.btn-info-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-info-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #1ba1e2;
  border-color: #1ba1e2;
  border-radius: 100px;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #106087;
  color: #106087 !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #1ba1e2;
  border-color: #1ba1e2;
}
.btn-info-outline:hover:before,
.btn-info-outline:focus:before,
.btn-info-outline.focus:before {
  transform: scale(10);
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #1ba1e2 !important;
  border-color: #1ba1e2 !important;
}
.btn-success-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-success-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #b2ccd2;
  border-color: #b2ccd2;
  border-radius: 100px;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #72a1ac;
  color: #72a1ac !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #b2ccd2;
  border-color: #b2ccd2;
}
.btn-success-outline:hover:before,
.btn-success-outline:focus:before,
.btn-success-outline.focus:before {
  transform: scale(10);
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #b2ccd2 !important;
  border-color: #b2ccd2 !important;
}
.btn-warning-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-warning-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #82786e;
  border-color: #82786e;
  border-radius: 100px;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #4b453f;
  color: #4b453f !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff !important;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-warning-outline:hover:before,
.btn-warning-outline:focus:before,
.btn-warning-outline.focus:before {
  transform: scale(10);
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-danger-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-danger-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #879a9f;
  border-color: #879a9f;
  border-radius: 100px;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #55666b;
  color: #55666b !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff !important;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-danger-outline:hover:before,
.btn-danger-outline:focus:before,
.btn-danger-outline.focus:before {
  transform: scale(10);
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-black-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-black-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #333333;
  border-color: #333333;
  border-radius: 100px;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline:hover:before,
.btn-black-outline:focus:before,
.btn-black-outline.focus:before {
  transform: scale(10);
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-white-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 100px;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff !important;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white-outline:hover:before,
.btn-white-outline:focus:before,
.btn-white-outline.focus:before {
  transform: scale(10);
}
.text-primary {
  color: #a38dfd !important;
}
.text-secondary {
  color: #fe525b !important;
}
.text-success {
  color: #b2ccd2 !important;
}
.text-info {
  color: #1ba1e2 !important;
}
.text-warning {
  color: #82786e !important;
}
.text-danger {
  color: #879a9f !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #5229fb !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #e9010d !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #72a1ac !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #106087 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #4b453f !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #55666b !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #b2ccd2;
}
.alert-info {
  background-color: #1ba1e2;
}
.alert-warning {
  background-color: #82786e;
}
.alert-danger {
  background-color: #879a9f;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: .3s,.3s,.3s,.8s;
  transition-timing-function: ease-in-out;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #a38dfd;
  border-color: #a38dfd;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #a38dfd;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d0ecf9;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ced6d8;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #a38dfd;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 2rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.special-form {
  border-radius: 100px !important;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #a38dfd;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #a38dfd;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #a38dfd;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #a38dfd;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-qznFGuYBk4 .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qznFGuYBk4 .nav-item:focus,
.cid-qznFGuYBk4 .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-qznFGuYBk4 .dropdown-item:hover:before {
    transform: scale(1, 1);
    width: 16px;
  }
  .cid-qznFGuYBk4 .nav-item .nav-link {
    position: relative;
  }
  .cid-qznFGuYBk4 .nav-item .nav-link::before {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    bottom: -0.5rem;
    left: 50%;
    background: linear-gradient(90deg, #a38dfd, #fe525b);
    transition: width 200ms linear, left 200ms linear;
  }
  .cid-qznFGuYBk4 .nav-item.open .nav-link::before {
    bottom: .2rem;
    width: 80% !important;
    left: 10% !important;
  }
  .cid-qznFGuYBk4 .nav-item .nav-link:hover::before {
    width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-qznFGuYBk4 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 2.5385em 0.235em 3.5385em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qznFGuYBk4 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qznFGuYBk4 .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
}
.cid-qznFGuYBk4 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-qznFGuYBk4 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qznFGuYBk4 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-qznFGuYBk4 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-qznFGuYBk4 .navbar {
  min-height: 77px;
  justify-content: center;
  background: none;
}
.cid-qznFGuYBk4 .navbar .mbr-overlay {
  transition: all .3s;
  background: #ffffff;
}
.cid-qznFGuYBk4 .navbar.opened .mbr-overlay {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-qznFGuYBk4 .navbar .dropdown-item {
  padding: .25rem 1.5rem;
}
.cid-qznFGuYBk4 .navbar .navbar-collapse {
  justify-content: center;
  z-index: 1;
}
.cid-qznFGuYBk4 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-qznFGuYBk4 .navbar.collapsed .navbar-collapse.show,
.cid-qznFGuYBk4 .navbar.collapsed .navbar-collapse.collapsing {
  transition: all .3s linear;
  display: flex;
  flex-direction: column;
}
.cid-qznFGuYBk4 .navbar.collapsed .navbar-collapse.show .brand-container,
.cid-qznFGuYBk4 .navbar.collapsed .navbar-collapse.collapsing .brand-container {
  order: -1;
}
.cid-qznFGuYBk4 .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-qznFGuYBk4 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-qznFGuYBk4 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-qznFGuYBk4 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-qznFGuYBk4 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-qznFGuYBk4 .navbar.collapsed .navbar-buttons {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cid-qznFGuYBk4 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-qznFGuYBk4 .navbar .navbar-collapse.show,
  .cid-qznFGuYBk4 .navbar .navbar-collapse.collapsing {
    transition: all .3s linear;
    display: flex;
    flex-direction: column;
  }
  .cid-qznFGuYBk4 .navbar .navbar-collapse.show .brand-container,
  .cid-qznFGuYBk4 .navbar .navbar-collapse.collapsing .brand-container {
    order: -1;
  }
  .cid-qznFGuYBk4 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-qznFGuYBk4 .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-qznFGuYBk4 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-qznFGuYBk4 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-qznFGuYBk4 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-qznFGuYBk4 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-qznFGuYBk4 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-qznFGuYBk4 .navbar .navbar-buttons {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .cid-qznFGuYBk4 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
}
.cid-qznFGuYBk4 .navbar.navbar-short {
  min-height: 60px;
}
.cid-qznFGuYBk4 .navbar.navbar-short .mbr-overlay {
  background: #ffffff !important;
}
.cid-qznFGuYBk4 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-qznFGuYBk4 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-qznFGuYBk4 .navbar-brand {
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-qznFGuYBk4 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-qznFGuYBk4 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-qznFGuYBk4 .dropdown-item.active,
.cid-qznFGuYBk4 .dropdown-item:active {
  background-color: transparent;
}
.cid-qznFGuYBk4 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-qznFGuYBk4 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-qznFGuYBk4 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-qznFGuYBk4 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-qznFGuYBk4 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-qznFGuYBk4 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qznFGuYBk4 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-qznFGuYBk4 .navbar-buttons {
  margin-left: auto;
}
.cid-qznFGuYBk4 button.navbar-toggler {
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  margin: 1rem;
  align-self: center;
}
.cid-qznFGuYBk4 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-qznFGuYBk4 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qznFGuYBk4 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qznFGuYBk4 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qznFGuYBk4 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qznFGuYBk4 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qznFGuYBk4 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
  width: 20px;
  right: -2px;
}
.cid-qznFGuYBk4 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
  width: 20px;
  left: -2px;
}
.cid-qznFGuYBk4 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qznFGuYBk4 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-qznFGuYBk4 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-qznFGuYBk4 .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-qznFGuYBk4 .right-menu,
.cid-qznFGuYBk4 .left-menu {
  flex-basis: 45%;
}
.cid-qznFGuYBk4 .left-menu .navbar-nav {
  justify-content: flex-end;
}
.cid-qznFGuYBk4 .left-menu .navbar-nav ul {
  justify-content: flex-end;
}
.cid-qznFGuYBk4 .brand-container {
  padding: 0 2rem;
  flex-shrink: 0;
}
.cid-qznFGuYBk4 .menu-top {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: #fe525b;
  padding: .5rem 0;
}
.cid-qznFGuYBk4 .full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 34%;
  font-size: 0;
  z-index: 2;
}
.cid-qznFGuYBk4 .card-wrapper {
  z-index: 3;
}
.cid-qznFGuYBk4 .popup-btn.card-wrapper {
  z-index: 1 !important;
}
.cid-qznFGuYBk4 .navbar-collapse {
  padding-top: 3rem;
}
.cid-qznFGuYBk4 nav.collapsed {
  padding-top: 3rem;
}
.cid-qznFGuYBk4 .opened {
  padding-top: .5rem;
}
@media (max-width: 991px) {
  .cid-qznFGuYBk4 .full-link {
    height: 2.7rem;
  }
  .cid-qznFGuYBk4 .navbar-dropdown {
    padding-top: 3rem;
  }
  .cid-qznFGuYBk4 .navbar-collapse {
    padding-top: 0;
  }
}
.cid-qXJLCeQXEn {
  background-image: url("../../../assets/images/mbr-1741x1080.jpg");
}
.cid-qXJLCeQXEn .container-fluid {
  padding: 0 3rem;
}
.cid-qXJLCeQXEn .mbr-media span {
  font-size: 48px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  position: relative;
  display: inline-block;
  transition: all 0.25s;
  color: #353535;
}
.cid-qXJLCeQXEn .mbr-media span.mbri-play:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  transform: translateX(-35%);
}
.cid-qXJLCeQXEn .modalWindow {
  display: none;
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-qXJLCeQXEn .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-qXJLCeQXEn .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-qXJLCeQXEn a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-qXJLCeQXEn a.close:hover {
  color: #ffffff;
}
.cid-qXJLCeQXEn svg {
  transition: all 0.5s ease-in;
}
.cid-qXJLCeQXEn svg .blick {
  transiton: opacity 0.5s ease-in;
  opacity: 1;
}
.cid-qXJLCeQXEn svg:hover {
  cursor: pointer;
  transform: rotate(120deg);
}
.cid-qXJLCeQXEn svg:hover .blick {
  transition: opacity 0.5s ease-in;
  opacity: 0;
}
@media (max-width: 767px) {
  .cid-qXJLCeQXEn .container-fluid {
    padding: 0 1rem;
  }
}
.cid-qznOOShlTD {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffa0a4;
  background: linear-gradient(90deg, #ffa0a4, #ffef00);
}
.cid-qznOOShlTD .mbr-overlay {
  background-color: #5a31fb;
  background: linear-gradient(90deg, #5a31fb, #000000);
}
.cid-qznNItV5sV {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qznNItV5sV p {
  color: #767676;
}
.cid-qznNItV5sV .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-qznNItV5sV .row-element,
.cid-qznNItV5sV .image-element {
  padding: 0;
}
.cid-qznNItV5sV .image-element {
  display: flex;
  justify-content: center;
}
.cid-qznNItV5sV .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-qznNItV5sV .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-qznNItV5sV .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #a38dfd, #fe525b);
  display: inline-block;
}
@media (min-width: 1500px) {
  .cid-qznNItV5sV .text-content {
    padding: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 1499px) {
  .cid-qznNItV5sV .text-content {
    padding: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-qznNItV5sV .text-content {
    padding: 2rem 1rem;
  }
  .cid-qznNItV5sV .underline .line {
    height: 2px;
  }
  .cid-qznNItV5sV .mbr-title,
  .cid-qznNItV5sV .underline,
  .cid-qznNItV5sV .mbr-text,
  .cid-qznNItV5sV .mbr-section-btn {
    text-align: center !important;
  }
}
.cid-qznHIjfjEs {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qznHIjfjEs .mbr-section-subtitle {
  color: #767676;
}
.cid-qznHIjfjEs .mbr-text {
  color: #767676;
}
.cid-qznHIjfjEs .card {
  display: flex;
  position: relative;
  justify-content: center;
}
.cid-qznHIjfjEs .media-container-row {
  align-items: flex-start;
}
.cid-qznHIjfjEs .card-wrapper {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-qznHIjfjEs .card-wrapper .card-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.cid-qznHIjfjEs .card-wrapper .card-img .mbr-overlay {
  background: #a38dfd;
  background: linear-gradient(135deg, #a38dfd, #ffa0a4);
  display: block;
  opacity: 0.8;
  transition: all .3s;
  border-bottom-left-radius: 50%;
}
.cid-qznHIjfjEs .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  margin: auto;
}
.cid-qznHIjfjEs .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-qznHIjfjEs .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-qznHIjfjEs .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-qznHIjfjEs .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-qznHIjfjEs .popup-btn .mbr-overlay {
  display: block !important;
  opacity: 0;
  height: 0;
  bottom: 0;
  top: auto;
  border-bottom-left-radius: 0 !important;
}
.cid-qznHIjfjEs .popup-btn .mbr-section-btn {
  display: block !important;
  opacity: 0;
}
.cid-qznHIjfjEs .popup-btn:hover .mbr-overlay {
  opacity: 0.8;
  height: 100%;
}
.cid-qznHIjfjEs .popup-btn:hover .mbr-section-btn {
  opacity: 1;
}
.cid-qznHIjfjEs .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-qznHIjfjEs .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #a38dfd, #fe525b);
  display: inline-block;
}
@media (min-width: 768px) {
  .cid-qznHIjfjEs .mbr-section-title,
  .cid-qznHIjfjEs .underline,
  .cid-qznHIjfjEs .mbr-section-subtitle {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.cid-qBkMMCECK6 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffa0a4;
  background: linear-gradient(90deg, #ffa0a4, #ffef00);
}
.cid-qBkMMCECK6 .mbr-overlay {
  background-color: #5a31fb;
  background: linear-gradient(90deg, #5a31fb, #000000);
}
#custom-html-32 .affiliate-ads {
  padding: 30px;
  text-align: center;
}
.cid-qznWN9mpZF {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #52bdf1;
}
.cid-qznWN9mpZF .container-fluid {
  padding: 0 3rem;
}
.cid-qznWN9mpZF .mbr-section-title {
  color: #096693;
  text-align: center;
}
.cid-qznWN9mpZF .btn {
  margin-top: 0;
}
.cid-qznWN9mpZF .media-container-column {
  padding: 0 2rem;
}
@media (max-width: 767px) {
  .cid-qznWN9mpZF .container-fluid {
    padding: 0 1rem;
  }
  .cid-qznWN9mpZF .btn {
    margin-top: 0.4rem;
  }
  .cid-qznWN9mpZF .mbr-section-btn {
    margin: 0;
  }
}
.cid-qznWN9mpZF .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-qznX8wvhZx {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qznX8wvhZx .container-fluid {
  padding: 0 3rem;
}
.cid-qznX8wvhZx .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #a38dfd, #fe525b);
  display: inline-block;
}
.cid-qznX8wvhZx .card .card-wrapper .card-img {
  overflow: hidden;
  margin-bottom: 1rem;
  z-index: 1;
}
.cid-qznX8wvhZx .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-qznX8wvhZx .card .card-wrapper:hover img {
  -ms-transform: scale3d(1.05, 1.05, 1.05);
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  -o-transform: scale3d(1.05, 1.05, 1.05);
  -moz-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  transition: all .5s;
}
.cid-qznX8wvhZx .text-row {
  align-self: center;
}
@media (max-width: 767px) {
  .cid-qznX8wvhZx .container-fluid {
    padding: 0 1rem;
  }
  .cid-qznX8wvhZx .text-row {
    padding-bottom: 1rem;
  }
}
.cid-qAPamTODPK {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qAPamTODPK .container-fluid {
  padding: 0 3rem;
}
.cid-qAPamTODPK .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #a38dfd, #fe525b);
  display: inline-block;
}
.cid-qAPamTODPK .card .card-wrapper .card-img {
  overflow: hidden;
  margin-bottom: 1rem;
  z-index: 1;
}
.cid-qAPamTODPK .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-qAPamTODPK .card .card-wrapper:hover img {
  -ms-transform: scale3d(1.05, 1.05, 1.05);
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  -o-transform: scale3d(1.05, 1.05, 1.05);
  -moz-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  transition: all .5s;
}
.cid-qAPamTODPK .text-row {
  align-self: center;
}
@media (max-width: 767px) {
  .cid-qAPamTODPK .container-fluid {
    padding: 0 1rem;
  }
  .cid-qAPamTODPK .text-row {
    padding-bottom: 1rem;
  }
}
.cid-qznXDehUbU {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #c8fbff;
}
.cid-qznXDehUbU .container-fluid {
  padding: 0 3rem;
}
.cid-qznXDehUbU .media-container-column {
  padding: 0 2rem;
}
.cid-qznXDehUbU .mbr-section-title {
  display: inline-block;
  position: relative;
}
@media (max-width: 767px) {
  .cid-qznXDehUbU .container-fluid {
    padding: 0 1rem;
  }
}
.cid-qAzXy9OLRr {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/mbr-6-1620x1080.jpg");
}
.cid-qAzXy9OLRr [class^="socicon-"]:before,
.cid-qAzXy9OLRr [class*=" socicon-"]:before {
  line-height: 44px;
}
.cid-qAzXy9OLRr .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-qAzXy9OLRr .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #a38dfd, #fe525b);
  display: inline-block;
}
.cid-qAzXy9OLRr .socicon {
  color: #5b686b;
}
.cid-qAzXy9OLRr .btn-social {
  border-color: #1ba1e2;
  margin-left: .5rem !important;
  margin-right: .5rem !important;
}
.cid-qAzXy9OLRr .btn-social:hover {
  background: #1ba1e2;
}
.cid-qAzXy9OLRr .btn-social:hover i.socicon {
  color: #ffffff !important;
}
@media (max-width: 767px) {
  .cid-qAzXy9OLRr .btn {
    font-size: 20px !important;
  }
  .cid-qAzXy9OLRr .btn-social {
    margin-right: .1rem !important;
    margin-left: .1rem !important;
  }
}
.cid-qznGAbMKMF {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #465052;
}
.cid-qznGAbMKMF .social-media {
  display: -webkit-flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 4rem;
}
.cid-qznGAbMKMF .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-qznGAbMKMF .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-qznGAbMKMF .logo-section {
  display: -webkit-flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 4rem;
}
.cid-qznGAbMKMF .icon-transition span {
  color: #ffffff;
  display: block;
  padding: 0.1rem 0.9rem;
  height: 4em;
  line-height: 4em;
  border-radius: 50%;
  background-color: #232323;
  width: 4em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 13px;
}
.cid-qznGAbMKMF .icon-transition span:hover {
  background-color: #fe525b;
}
.cid-qznGAbMKMF .mbr-text {
  color: #cccccc;
}
@media (max-width: 767px) {
  .cid-qznGAbMKMF .social-media {
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    padding-right: 0rem;
  }
  .cid-qznGAbMKMF .logo-section {
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    padding-left: 0rem;
    margin-bottom: 1.5rem;
  }
  .cid-qznGAbMKMF .mbr-text {
    margin-bottom: 1.5rem;
  }
}
#custom-html-2u {
  /* Type valid CSS here */
}
.cid-qznFGuYBk4 .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qznFGuYBk4 .nav-item:focus,
.cid-qznFGuYBk4 .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-qznFGuYBk4 .dropdown-item:hover:before {
    transform: scale(1, 1);
    width: 16px;
  }
  .cid-qznFGuYBk4 .nav-item .nav-link {
    position: relative;
  }
  .cid-qznFGuYBk4 .nav-item .nav-link::before {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    bottom: -0.5rem;
    left: 50%;
    background: linear-gradient(90deg, #a38dfd, #fe525b);
    transition: width 200ms linear, left 200ms linear;
  }
  .cid-qznFGuYBk4 .nav-item.open .nav-link::before {
    bottom: .2rem;
    width: 80% !important;
    left: 10% !important;
  }
  .cid-qznFGuYBk4 .nav-item .nav-link:hover::before {
    width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-qznFGuYBk4 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 2.5385em 0.235em 3.5385em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qznFGuYBk4 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qznFGuYBk4 .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
}
.cid-qznFGuYBk4 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-qznFGuYBk4 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qznFGuYBk4 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-qznFGuYBk4 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-qznFGuYBk4 .navbar {
  min-height: 77px;
  justify-content: center;
  background: none;
}
.cid-qznFGuYBk4 .navbar .mbr-overlay {
  transition: all .3s;
  background: #ffffff;
}
.cid-qznFGuYBk4 .navbar.opened .mbr-overlay {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-qznFGuYBk4 .navbar .dropdown-item {
  padding: .25rem 1.5rem;
}
.cid-qznFGuYBk4 .navbar .navbar-collapse {
  justify-content: center;
  z-index: 1;
}
.cid-qznFGuYBk4 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-qznFGuYBk4 .navbar.collapsed .navbar-collapse.show,
.cid-qznFGuYBk4 .navbar.collapsed .navbar-collapse.collapsing {
  transition: all .3s linear;
  display: flex;
  flex-direction: column;
}
.cid-qznFGuYBk4 .navbar.collapsed .navbar-collapse.show .brand-container,
.cid-qznFGuYBk4 .navbar.collapsed .navbar-collapse.collapsing .brand-container {
  order: -1;
}
.cid-qznFGuYBk4 .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-qznFGuYBk4 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-qznFGuYBk4 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-qznFGuYBk4 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-qznFGuYBk4 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-qznFGuYBk4 .navbar.collapsed .navbar-buttons {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cid-qznFGuYBk4 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-qznFGuYBk4 .navbar .navbar-collapse.show,
  .cid-qznFGuYBk4 .navbar .navbar-collapse.collapsing {
    transition: all .3s linear;
    display: flex;
    flex-direction: column;
  }
  .cid-qznFGuYBk4 .navbar .navbar-collapse.show .brand-container,
  .cid-qznFGuYBk4 .navbar .navbar-collapse.collapsing .brand-container {
    order: -1;
  }
  .cid-qznFGuYBk4 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-qznFGuYBk4 .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-qznFGuYBk4 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-qznFGuYBk4 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-qznFGuYBk4 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-qznFGuYBk4 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-qznFGuYBk4 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-qznFGuYBk4 .navbar .navbar-buttons {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .cid-qznFGuYBk4 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
}
.cid-qznFGuYBk4 .navbar.navbar-short {
  min-height: 60px;
}
.cid-qznFGuYBk4 .navbar.navbar-short .mbr-overlay {
  background: #ffffff !important;
}
.cid-qznFGuYBk4 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-qznFGuYBk4 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-qznFGuYBk4 .navbar-brand {
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-qznFGuYBk4 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-qznFGuYBk4 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-qznFGuYBk4 .dropdown-item.active,
.cid-qznFGuYBk4 .dropdown-item:active {
  background-color: transparent;
}
.cid-qznFGuYBk4 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-qznFGuYBk4 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-qznFGuYBk4 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-qznFGuYBk4 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-qznFGuYBk4 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-qznFGuYBk4 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qznFGuYBk4 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-qznFGuYBk4 .navbar-buttons {
  margin-left: auto;
}
.cid-qznFGuYBk4 button.navbar-toggler {
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  margin: 1rem;
  align-self: center;
}
.cid-qznFGuYBk4 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-qznFGuYBk4 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qznFGuYBk4 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qznFGuYBk4 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qznFGuYBk4 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qznFGuYBk4 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qznFGuYBk4 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
  width: 20px;
  right: -2px;
}
.cid-qznFGuYBk4 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
  width: 20px;
  left: -2px;
}
.cid-qznFGuYBk4 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qznFGuYBk4 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-qznFGuYBk4 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-qznFGuYBk4 .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-qznFGuYBk4 .right-menu,
.cid-qznFGuYBk4 .left-menu {
  flex-basis: 45%;
}
.cid-qznFGuYBk4 .left-menu .navbar-nav {
  justify-content: flex-end;
}
.cid-qznFGuYBk4 .left-menu .navbar-nav ul {
  justify-content: flex-end;
}
.cid-qznFGuYBk4 .brand-container {
  padding: 0 2rem;
  flex-shrink: 0;
}
.cid-qznFGuYBk4 .menu-top {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: #fe525b;
  padding: .5rem 0;
}
.cid-qznFGuYBk4 .full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 34%;
  font-size: 0;
  z-index: 2;
}
.cid-qznFGuYBk4 .card-wrapper {
  z-index: 3;
}
.cid-qznFGuYBk4 .popup-btn.card-wrapper {
  z-index: 1 !important;
}
.cid-qznFGuYBk4 .navbar-collapse {
  padding-top: 3rem;
}
.cid-qznFGuYBk4 nav.collapsed {
  padding-top: 3rem;
}
.cid-qznFGuYBk4 .opened {
  padding-top: .5rem;
}
@media (max-width: 991px) {
  .cid-qznFGuYBk4 .full-link {
    height: 2.7rem;
  }
  .cid-qznFGuYBk4 .navbar-dropdown {
    padding-top: 3rem;
  }
  .cid-qznFGuYBk4 .navbar-collapse {
    padding-top: 0;
  }
}
.cid-qArtaPAP5v {
  background-image: url("../../../assets/images/mbr-1920x1080.jpg");
}
.cid-qArtaPAP5v .mbr-overlay {
  background: #232323;
  background: linear-gradient(45deg, #232323, #000000);
  background: radial-gradient(#232323, #000000);
}
.cid-qArtaPAP5v .mbr-section-title {
  margin: 0;
}
.cid-qBkPEVddJv {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffa0a4;
  background: linear-gradient(90deg, #ffa0a4, #ffef00);
}
.cid-qBkPEVddJv .mbr-overlay {
  background-color: #5a31fb;
  background: linear-gradient(90deg, #5a31fb, #000000);
}
.cid-qznHIjfjEs {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qznHIjfjEs .mbr-section-subtitle {
  color: #767676;
}
.cid-qznHIjfjEs .mbr-text {
  color: #767676;
}
.cid-qznHIjfjEs .card {
  display: flex;
  position: relative;
  justify-content: center;
}
.cid-qznHIjfjEs .media-container-row {
  align-items: flex-start;
}
.cid-qznHIjfjEs .card-wrapper {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-qznHIjfjEs .card-wrapper .card-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.cid-qznHIjfjEs .card-wrapper .card-img .mbr-overlay {
  background: #a38dfd;
  background: linear-gradient(135deg, #a38dfd, #ffa0a4);
  display: block;
  opacity: 0.8;
  transition: all .3s;
  border-bottom-left-radius: 50%;
}
.cid-qznHIjfjEs .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  margin: auto;
}
.cid-qznHIjfjEs .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-qznHIjfjEs .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-qznHIjfjEs .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-qznHIjfjEs .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-qznHIjfjEs .popup-btn .mbr-overlay {
  display: block !important;
  opacity: 0;
  height: 0;
  bottom: 0;
  top: auto;
  border-bottom-left-radius: 0 !important;
}
.cid-qznHIjfjEs .popup-btn .mbr-section-btn {
  display: block !important;
  opacity: 0;
}
.cid-qznHIjfjEs .popup-btn:hover .mbr-overlay {
  opacity: 0.8;
  height: 100%;
}
.cid-qznHIjfjEs .popup-btn:hover .mbr-section-btn {
  opacity: 1;
}
.cid-qznHIjfjEs .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-qznHIjfjEs .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #a38dfd, #fe525b);
  display: inline-block;
}
@media (min-width: 768px) {
  .cid-qznHIjfjEs .mbr-section-title,
  .cid-qznHIjfjEs .underline,
  .cid-qznHIjfjEs .mbr-section-subtitle {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.cid-qBkOANAZeo {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffa0a4;
  background: linear-gradient(90deg, #ffa0a4, #ffef00);
}
.cid-qBkOANAZeo .mbr-overlay {
  background-color: #5a31fb;
  background: linear-gradient(90deg, #5a31fb, #000000);
}
.cid-qznWN9mpZF {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #52bdf1;
}
.cid-qznWN9mpZF .container-fluid {
  padding: 0 3rem;
}
.cid-qznWN9mpZF .mbr-section-title {
  color: #096693;
  text-align: center;
}
.cid-qznWN9mpZF .btn {
  margin-top: 0;
}
.cid-qznWN9mpZF .media-container-column {
  padding: 0 2rem;
}
@media (max-width: 767px) {
  .cid-qznWN9mpZF .container-fluid {
    padding: 0 1rem;
  }
  .cid-qznWN9mpZF .btn {
    margin-top: 0.4rem;
  }
  .cid-qznWN9mpZF .mbr-section-btn {
    margin: 0;
  }
}
.cid-qznWN9mpZF .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-qznX8wvhZx {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qznX8wvhZx .container-fluid {
  padding: 0 3rem;
}
.cid-qznX8wvhZx .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #a38dfd, #fe525b);
  display: inline-block;
}
.cid-qznX8wvhZx .card .card-wrapper .card-img {
  overflow: hidden;
  margin-bottom: 1rem;
  z-index: 1;
}
.cid-qznX8wvhZx .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-qznX8wvhZx .card .card-wrapper:hover img {
  -ms-transform: scale3d(1.05, 1.05, 1.05);
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  -o-transform: scale3d(1.05, 1.05, 1.05);
  -moz-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  transition: all .5s;
}
.cid-qznX8wvhZx .text-row {
  align-self: center;
}
@media (max-width: 767px) {
  .cid-qznX8wvhZx .container-fluid {
    padding: 0 1rem;
  }
  .cid-qznX8wvhZx .text-row {
    padding-bottom: 1rem;
  }
}
.cid-qAOFztotjv {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qAOFztotjv .container-fluid {
  padding: 0 3rem;
}
.cid-qAOFztotjv .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #a38dfd, #fe525b);
  display: inline-block;
}
.cid-qAOFztotjv .card .card-wrapper .card-img {
  overflow: hidden;
  margin-bottom: 1rem;
  z-index: 1;
}
.cid-qAOFztotjv .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-qAOFztotjv .card .card-wrapper:hover img {
  -ms-transform: scale3d(1.05, 1.05, 1.05);
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  -o-transform: scale3d(1.05, 1.05, 1.05);
  -moz-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  transition: all .5s;
}
.cid-qAOFztotjv .text-row {
  align-self: center;
}
@media (max-width: 767px) {
  .cid-qAOFztotjv .container-fluid {
    padding: 0 1rem;
  }
  .cid-qAOFztotjv .text-row {
    padding-bottom: 1rem;
  }
}
.cid-qznXDehUbU {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #c8fbff;
}
.cid-qznXDehUbU .container-fluid {
  padding: 0 3rem;
}
.cid-qznXDehUbU .media-container-column {
  padding: 0 2rem;
}
.cid-qznXDehUbU .mbr-section-title {
  display: inline-block;
  position: relative;
}
@media (max-width: 767px) {
  .cid-qznXDehUbU .container-fluid {
    padding: 0 1rem;
  }
}
.cid-qAzWwl2kbn {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/mbr-6-1620x1080.jpg");
}
.cid-qAzWwl2kbn [class^="socicon-"]:before,
.cid-qAzWwl2kbn [class*=" socicon-"]:before {
  line-height: 44px;
}
.cid-qAzWwl2kbn .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-qAzWwl2kbn .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #a38dfd, #fe525b);
  display: inline-block;
}
.cid-qAzWwl2kbn .socicon {
  color: #5b686b;
}
.cid-qAzWwl2kbn .btn-social {
  border-color: #1ba1e2;
  margin-left: .5rem !important;
  margin-right: .5rem !important;
}
.cid-qAzWwl2kbn .btn-social:hover {
  background: #1ba1e2;
}
.cid-qAzWwl2kbn .btn-social:hover i.socicon {
  color: #ffffff !important;
}
@media (max-width: 767px) {
  .cid-qAzWwl2kbn .btn {
    font-size: 20px !important;
  }
  .cid-qAzWwl2kbn .btn-social {
    margin-right: .1rem !important;
    margin-left: .1rem !important;
  }
}
.cid-qB39k8VaaR {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #465052;
}
.cid-qB39k8VaaR .social-media {
  display: -webkit-flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 4rem;
}
.cid-qB39k8VaaR .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-qB39k8VaaR .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-qB39k8VaaR .logo-section {
  display: -webkit-flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 4rem;
}
.cid-qB39k8VaaR .icon-transition span {
  color: #ffffff;
  display: block;
  padding: 0.1rem 0.9rem;
  height: 4em;
  line-height: 4em;
  border-radius: 50%;
  background-color: #232323;
  width: 4em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 13px;
}
.cid-qB39k8VaaR .icon-transition span:hover {
  background-color: #fe525b;
}
.cid-qB39k8VaaR .mbr-text {
  color: #cccccc;
}
@media (max-width: 767px) {
  .cid-qB39k8VaaR .social-media {
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    padding-right: 0rem;
  }
  .cid-qB39k8VaaR .logo-section {
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    padding-left: 0rem;
    margin-bottom: 1.5rem;
  }
  .cid-qB39k8VaaR .mbr-text {
    margin-bottom: 1.5rem;
  }
}
#custom-html-2t {
  /* Type valid CSS here */
}
.cid-qznFGuYBk4 .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qznFGuYBk4 .nav-item:focus,
.cid-qznFGuYBk4 .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-qznFGuYBk4 .dropdown-item:hover:before {
    transform: scale(1, 1);
    width: 16px;
  }
  .cid-qznFGuYBk4 .nav-item .nav-link {
    position: relative;
  }
  .cid-qznFGuYBk4 .nav-item .nav-link::before {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    bottom: -0.5rem;
    left: 50%;
    background: linear-gradient(90deg, #a38dfd, #fe525b);
    transition: width 200ms linear, left 200ms linear;
  }
  .cid-qznFGuYBk4 .nav-item.open .nav-link::before {
    bottom: .2rem;
    width: 80% !important;
    left: 10% !important;
  }
  .cid-qznFGuYBk4 .nav-item .nav-link:hover::before {
    width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-qznFGuYBk4 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 2.5385em 0.235em 3.5385em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qznFGuYBk4 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qznFGuYBk4 .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
}
.cid-qznFGuYBk4 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-qznFGuYBk4 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qznFGuYBk4 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-qznFGuYBk4 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-qznFGuYBk4 .navbar {
  min-height: 77px;
  justify-content: center;
  background: none;
}
.cid-qznFGuYBk4 .navbar .mbr-overlay {
  transition: all .3s;
  background: #ffffff;
}
.cid-qznFGuYBk4 .navbar.opened .mbr-overlay {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-qznFGuYBk4 .navbar .dropdown-item {
  padding: .25rem 1.5rem;
}
.cid-qznFGuYBk4 .navbar .navbar-collapse {
  justify-content: center;
  z-index: 1;
}
.cid-qznFGuYBk4 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-qznFGuYBk4 .navbar.collapsed .navbar-collapse.show,
.cid-qznFGuYBk4 .navbar.collapsed .navbar-collapse.collapsing {
  transition: all .3s linear;
  display: flex;
  flex-direction: column;
}
.cid-qznFGuYBk4 .navbar.collapsed .navbar-collapse.show .brand-container,
.cid-qznFGuYBk4 .navbar.collapsed .navbar-collapse.collapsing .brand-container {
  order: -1;
}
.cid-qznFGuYBk4 .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-qznFGuYBk4 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-qznFGuYBk4 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-qznFGuYBk4 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-qznFGuYBk4 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-qznFGuYBk4 .navbar.collapsed .navbar-buttons {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cid-qznFGuYBk4 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-qznFGuYBk4 .navbar .navbar-collapse.show,
  .cid-qznFGuYBk4 .navbar .navbar-collapse.collapsing {
    transition: all .3s linear;
    display: flex;
    flex-direction: column;
  }
  .cid-qznFGuYBk4 .navbar .navbar-collapse.show .brand-container,
  .cid-qznFGuYBk4 .navbar .navbar-collapse.collapsing .brand-container {
    order: -1;
  }
  .cid-qznFGuYBk4 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-qznFGuYBk4 .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-qznFGuYBk4 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-qznFGuYBk4 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-qznFGuYBk4 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-qznFGuYBk4 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-qznFGuYBk4 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-qznFGuYBk4 .navbar .navbar-buttons {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .cid-qznFGuYBk4 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
}
.cid-qznFGuYBk4 .navbar.navbar-short {
  min-height: 60px;
}
.cid-qznFGuYBk4 .navbar.navbar-short .mbr-overlay {
  background: #ffffff !important;
}
.cid-qznFGuYBk4 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-qznFGuYBk4 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-qznFGuYBk4 .navbar-brand {
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-qznFGuYBk4 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-qznFGuYBk4 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-qznFGuYBk4 .dropdown-item.active,
.cid-qznFGuYBk4 .dropdown-item:active {
  background-color: transparent;
}
.cid-qznFGuYBk4 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-qznFGuYBk4 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-qznFGuYBk4 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-qznFGuYBk4 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-qznFGuYBk4 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-qznFGuYBk4 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qznFGuYBk4 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-qznFGuYBk4 .navbar-buttons {
  margin-left: auto;
}
.cid-qznFGuYBk4 button.navbar-toggler {
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  margin: 1rem;
  align-self: center;
}
.cid-qznFGuYBk4 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-qznFGuYBk4 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qznFGuYBk4 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qznFGuYBk4 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qznFGuYBk4 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qznFGuYBk4 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qznFGuYBk4 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
  width: 20px;
  right: -2px;
}
.cid-qznFGuYBk4 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
  width: 20px;
  left: -2px;
}
.cid-qznFGuYBk4 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qznFGuYBk4 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-qznFGuYBk4 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-qznFGuYBk4 .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-qznFGuYBk4 .right-menu,
.cid-qznFGuYBk4 .left-menu {
  flex-basis: 45%;
}
.cid-qznFGuYBk4 .left-menu .navbar-nav {
  justify-content: flex-end;
}
.cid-qznFGuYBk4 .left-menu .navbar-nav ul {
  justify-content: flex-end;
}
.cid-qznFGuYBk4 .brand-container {
  padding: 0 2rem;
  flex-shrink: 0;
}
.cid-qznFGuYBk4 .menu-top {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: #fe525b;
  padding: .5rem 0;
}
.cid-qznFGuYBk4 .full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 34%;
  font-size: 0;
  z-index: 2;
}
.cid-qznFGuYBk4 .card-wrapper {
  z-index: 3;
}
.cid-qznFGuYBk4 .popup-btn.card-wrapper {
  z-index: 1 !important;
}
.cid-qznFGuYBk4 .navbar-collapse {
  padding-top: 3rem;
}
.cid-qznFGuYBk4 nav.collapsed {
  padding-top: 3rem;
}
.cid-qznFGuYBk4 .opened {
  padding-top: .5rem;
}
@media (max-width: 991px) {
  .cid-qznFGuYBk4 .full-link {
    height: 2.7rem;
  }
  .cid-qznFGuYBk4 .navbar-dropdown {
    padding-top: 3rem;
  }
  .cid-qznFGuYBk4 .navbar-collapse {
    padding-top: 0;
  }
}
.cid-qArtaPAP5v {
  background-image: url("../../../assets/images/mbr-1904x1080.jpg");
}
.cid-qArtaPAP5v .mbr-overlay {
  background: #232323;
  background: linear-gradient(45deg, #232323, #000000);
  background: radial-gradient(#232323, #000000);
}
.cid-qArtaPAP5v .mbr-section-title {
  margin: 0;
}
.cid-qBkPKJWNeW {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffa0a4;
  background: linear-gradient(90deg, #ffa0a4, #ffef00);
}
.cid-qBkPKJWNeW .mbr-overlay {
  background-color: #5a31fb;
  background: linear-gradient(90deg, #5a31fb, #000000);
}
.cid-qAPhvr9IW1 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qAPhvr9IW1 p {
  color: #767676;
}
.cid-qAPhvr9IW1 .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-qAPhvr9IW1 .row-element,
.cid-qAPhvr9IW1 .image-element {
  padding: 0;
}
.cid-qAPhvr9IW1 .image-element {
  display: flex;
  justify-content: center;
}
.cid-qAPhvr9IW1 .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-qAPhvr9IW1 .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-qAPhvr9IW1 .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #a38dfd, #fe525b);
  display: inline-block;
}
@media (min-width: 1500px) {
  .cid-qAPhvr9IW1 .text-content {
    padding: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 1499px) {
  .cid-qAPhvr9IW1 .text-content {
    padding: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-qAPhvr9IW1 .text-content {
    padding: 2rem 1rem;
  }
  .cid-qAPhvr9IW1 .underline .line {
    height: 2px;
  }
  .cid-qAPhvr9IW1 .mbr-title,
  .cid-qAPhvr9IW1 .underline,
  .cid-qAPhvr9IW1 .mbr-text,
  .cid-qAPhvr9IW1 .mbr-section-btn {
    text-align: center !important;
  }
}
.cid-qBkOL3kaIV {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffa0a4;
  background: linear-gradient(90deg, #ffa0a4, #ffef00);
}
.cid-qBkOL3kaIV .mbr-overlay {
  background-color: #5a31fb;
  background: linear-gradient(90deg, #5a31fb, #000000);
}
.cid-qznWN9mpZF {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #52bdf1;
}
.cid-qznWN9mpZF .container-fluid {
  padding: 0 3rem;
}
.cid-qznWN9mpZF .mbr-section-title {
  color: #096693;
  text-align: center;
}
.cid-qznWN9mpZF .btn {
  margin-top: 0;
}
.cid-qznWN9mpZF .media-container-column {
  padding: 0 2rem;
}
@media (max-width: 767px) {
  .cid-qznWN9mpZF .container-fluid {
    padding: 0 1rem;
  }
  .cid-qznWN9mpZF .btn {
    margin-top: 0.4rem;
  }
  .cid-qznWN9mpZF .mbr-section-btn {
    margin: 0;
  }
}
.cid-qznWN9mpZF .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-qznX8wvhZx {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qznX8wvhZx .container-fluid {
  padding: 0 3rem;
}
.cid-qznX8wvhZx .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #a38dfd, #fe525b);
  display: inline-block;
}
.cid-qznX8wvhZx .card .card-wrapper .card-img {
  overflow: hidden;
  margin-bottom: 1rem;
  z-index: 1;
}
.cid-qznX8wvhZx .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-qznX8wvhZx .card .card-wrapper:hover img {
  -ms-transform: scale3d(1.05, 1.05, 1.05);
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  -o-transform: scale3d(1.05, 1.05, 1.05);
  -moz-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  transition: all .5s;
}
.cid-qznX8wvhZx .text-row {
  align-self: center;
}
@media (max-width: 767px) {
  .cid-qznX8wvhZx .container-fluid {
    padding: 0 1rem;
  }
  .cid-qznX8wvhZx .text-row {
    padding-bottom: 1rem;
  }
}
.cid-qAOFztotjv {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qAOFztotjv .container-fluid {
  padding: 0 3rem;
}
.cid-qAOFztotjv .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #a38dfd, #fe525b);
  display: inline-block;
}
.cid-qAOFztotjv .card .card-wrapper .card-img {
  overflow: hidden;
  margin-bottom: 1rem;
  z-index: 1;
}
.cid-qAOFztotjv .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-qAOFztotjv .card .card-wrapper:hover img {
  -ms-transform: scale3d(1.05, 1.05, 1.05);
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  -o-transform: scale3d(1.05, 1.05, 1.05);
  -moz-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  transition: all .5s;
}
.cid-qAOFztotjv .text-row {
  align-self: center;
}
@media (max-width: 767px) {
  .cid-qAOFztotjv .container-fluid {
    padding: 0 1rem;
  }
  .cid-qAOFztotjv .text-row {
    padding-bottom: 1rem;
  }
}
.cid-qznXDehUbU {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #c8fbff;
}
.cid-qznXDehUbU .container-fluid {
  padding: 0 3rem;
}
.cid-qznXDehUbU .media-container-column {
  padding: 0 2rem;
}
.cid-qznXDehUbU .mbr-section-title {
  display: inline-block;
  position: relative;
}
@media (max-width: 767px) {
  .cid-qznXDehUbU .container-fluid {
    padding: 0 1rem;
  }
}
.cid-qAzWwl2kbn {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/mbr-6-1620x1080.jpg");
}
.cid-qAzWwl2kbn [class^="socicon-"]:before,
.cid-qAzWwl2kbn [class*=" socicon-"]:before {
  line-height: 44px;
}
.cid-qAzWwl2kbn .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-qAzWwl2kbn .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #a38dfd, #fe525b);
  display: inline-block;
}
.cid-qAzWwl2kbn .socicon {
  color: #5b686b;
}
.cid-qAzWwl2kbn .btn-social {
  border-color: #1ba1e2;
  margin-left: .5rem !important;
  margin-right: .5rem !important;
}
.cid-qAzWwl2kbn .btn-social:hover {
  background: #1ba1e2;
}
.cid-qAzWwl2kbn .btn-social:hover i.socicon {
  color: #ffffff !important;
}
@media (max-width: 767px) {
  .cid-qAzWwl2kbn .btn {
    font-size: 20px !important;
  }
  .cid-qAzWwl2kbn .btn-social {
    margin-right: .1rem !important;
    margin-left: .1rem !important;
  }
}
.cid-qB39q5OicK {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #465052;
}
.cid-qB39q5OicK .social-media {
  display: -webkit-flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 4rem;
}
.cid-qB39q5OicK .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-qB39q5OicK .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-qB39q5OicK .logo-section {
  display: -webkit-flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 4rem;
}
.cid-qB39q5OicK .icon-transition span {
  color: #ffffff;
  display: block;
  padding: 0.1rem 0.9rem;
  height: 4em;
  line-height: 4em;
  border-radius: 50%;
  background-color: #232323;
  width: 4em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 13px;
}
.cid-qB39q5OicK .icon-transition span:hover {
  background-color: #fe525b;
}
.cid-qB39q5OicK .mbr-text {
  color: #cccccc;
}
@media (max-width: 767px) {
  .cid-qB39q5OicK .social-media {
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    padding-right: 0rem;
  }
  .cid-qB39q5OicK .logo-section {
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    padding-left: 0rem;
    margin-bottom: 1.5rem;
  }
  .cid-qB39q5OicK .mbr-text {
    margin-bottom: 1.5rem;
  }
}
#custom-html-2s {
  /* Type valid CSS here */
}
